@font-face {
    font-family: 'Helvetica';
    src: url('FreeSans.ttf') format('opentype');
}

@font-face {
    font-family: 'Caprasimo';
    src: url('Caprasimo-Regular.ttf') format('truetype');
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif
}

.certificate h1 {
    font-size: 48px;
    color: #1a73e8;
    text-transform: uppercase;
    position: relative;
    font-family: caprasimo;
}

.certificate h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #1a73e8;
    font-family: caprasimo;
    text-transform: uppercase;
}
.certificate p {
    font-size: 20px;
    color: #333;
}

.good-job {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 32px;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 50%;
    transform: rotate(-15deg);
}
.code-crafters {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
.download-btn {
    margin-top: 20px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 50%;
}

#imgmain {
    display: flex;
    justify-content: center;
}

#username {
    position: absolute;
    top: 47%; /* Adjust according to your design */
    left: 34.5%; /* Adjust according to your design */
    transform: translate(-50%, -50%);
    color: #0D6EB6; /* Text color */
    font-size: 24px; /* Text size */
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: none;
}