@font-face {
    font-family: 'Helvetica';
    src: url('"C:\xampp\htdocs\WST Project\FreeSans.ttf"') format('opentype');
}

@font-face {
    font-family: 'Caprasimo';
    src: url('Caprasimo-Regular.ttf') format('truetype');
}

#logo {
    width:200px;
    margin-top: 20%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D4E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color:#F6F6F6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border:solid 2px #0056b3;
}
h2 {
    margin-bottom: 20px;
    position: 10%;
    font-size: 28px;
    font-family: caprasimo;
    color:#0056b3
}
form {
    margin-top: 20px;
}
label, input {
    display: block;
    width: 88%;
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"], input[type="password"], input[type=email] {
    padding: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: none;
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 100px;
    width: 50%;
    font-family: caprasimo;
    font-size: 15px;
    margin-top: 15px;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.register-link {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.register-link a {
    color: #007bff;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}

