.navbar-style{
    background: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btns-container {
      text-decoration: none;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 10px;
  }
  
  #nav-btns {
      font-family: caprasimo;
      color: #0D6EB6;
      padding: 10px;
      font-size: 25px;
  }
  
  .right-btns {
      display: flex;
      align-items: center;
      margin-right: 10%;
  }
  
  #nav-btns:hover {
      color:#E11F21 !important;
      background-color: lightblue !important; 
      text-shadow: 0 0 3px #E11F21 !important;
  }

  
  .logo {
    width: 40%;
    margin-left: 20%;
}

#lesson-box a, a {
    text-decoration: none;
}